
<form [formGroup]="formulario" (ngSubmit)="guardar()" (keyup.enter)="guardar()" class="h-p-100 row middle-xs margin-0">
    <div class="col-xs-12 center-xs">
      <img src="../../../assets/images/logo_upc.png" alt="logo" class="avatar-150">
      <h1 class="margin-top-0"><b>Inicio de sesion</b></h1>
      <div class="row center-xs">
        <mat-form-field appearance="outline"  class="col-xs-12 col-sm-6 col-md-5 col-lg-3 padding-0">
          <mat-label>identificacion</mat-label>
          <input matInput id="Identificacion" formControlName="Identificacion" type="number">
        </mat-form-field>
      </div>
      <div class="row center-xs">
        <mat-form-field appearance="outline" class=" col-xs-12 col-sm-6 col-md-5 col-lg-3 padding-0">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Pass">
        </mat-form-field>
      </div>
      <div class="row center-xs">
        <button class="col-xs-12 col-sm-6 col-md-5 col-lg-3" mat-button color="primary" type="submit" [disabled]="formulario.invalid">Entrar</button>
      </div>  
    </div>
</form> 