<div class="col-xs-12 center-xs">
    <div class="col-xs-12 ceter-xs">
      <img src="../../../assets/images/logo_upc.png" alt="logo" class="avatar-200">
    </div>
    <div class="col-xs-12 center-xs">
      <h1 class="margin-top-0"><b>Inicio de sesion</b></h1>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="guardar()" (keyup.enter)="guardar()" class="h-100p row middle-xs">
        <div class="col-xs-12 center-xs">
            <div class="row center-xs">
                <mat-form-field appearance="outline"  class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <mat-label>identificacion</mat-label>
                  <input matInput id="Identificacion" formControlName="Identificacion" type="number">
                </mat-form-field>
              </div>
              <div class="row center-xs">
                <mat-form-field appearance="outline" class=" col-xs-12 col-sm-6 col-md-6 col-lg-4">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="Pass">
                </mat-form-field>
              </div>
              <div class="row center-xs">
                  <button class="col-xs-12 col-sm-6 col-md-6 col-lg-4" mat-button color="primary" type="submit" [disabled]="formulario.invalid">Entrar</button>
              </div>  
        </div>
    </form> 
  </div>